
.data-loader-wrap {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;

	.data-loader {
		margin: 0 auto;
		width: 60px;
		height: 50px;
		text-align: center;
		font-size: 10px;
		display: flex;
		flex-direction: row;
		transform: translateY(-50%) translateX(-50%);
		-webkit-transform: translateY(-50%) translateX(-50%);
		
		> div {
		  height: 100%;
		  width: 8px;
		  display: inline-block;
		  margin-left: 2px;
		  -webkit-animation: delay 0.8s infinite ease-in-out;
		  animation: delay 0.8s infinite ease-in-out;
		}
		
		.bar1{
		  background-color: #754fa0 ;
		}
		.bar2{
		  background-color: #09b7bf;
		  -webkit-animation-delay: -0.7s;
		  animation-delay: -0.7s;
		}
		.bar3{
		  background-color: #90d36b;
		  -webkit-animation-delay: -0.6s;
		  animation-delay: -0.6s;
		}
		.bar4{
		  background-color: #f2d40d;
		  -webkit-animation-delay: -0.5s;
		  animation-delay: -0.5s;
		}
		.bar5{
		  background-color: #fcb12b;
		  -webkit-animation-delay: -0.4s;
		  animation-delay: -0.4s;
		}
		.bar6{
		  background-color: #ed1b72;
		  -webkit-animation-delay: -0.3s;
		  animation-delay: -0.3s;
		}
	}
	  
}


  
@-webkit-keyframes delay {
0%, 40%, 100% { -webkit-transform: scaleY(0.05) }  
20% { -webkit-transform: scaleY(1.0) }
}

@keyframes delay {
0%, 40%, 100% { 
	transform: scaleY(0.05);
	-webkit-transform: scaleY(0.05);
}  20% { 
	transform: scaleY(1.0);
	-webkit-transform: scaleY(1.0);
}
}



// Second spinner
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: 3000;
	background-color: $bgThrough;

	.spinner {
		display: block;
		position: relative;
		left: 50%;
		top: 50%;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #3498db;
		-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
		animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}
	 
	.spinner:before {
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #e74c3c;
		-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
		  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}
	 
	.spinner:after {
		content: "";
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #f9c922;
		-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
		  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}
	 
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}










// custom loader
.custom-loader {
    z-index: 3000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bgThrough;
    display: inline;
    align-items: stretch;
	position: fixed;
}
.custom-loader .custom-loader-wrap {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
	height: 60px;
}
.custom-loader .custom-loader-wrap .custom-loader-main {
    width: 60px;
    height: 60px;
    text-align: centerng;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-gap: 0px;
}
.custom-loader .custom-loader-wrap .custom-loader-main .custom-loader-ball {
    width: 16px;
    height: 16px;
    border: 0px solid transparent;
    border-radius: 50%;
    margin: 9px 0 0 9px;
    animation: 0.8s moveUp ease infinite;
    -moz-animation: 0.8s moveUp ease infinite;
    -webkit-animation: 0.8s moveUp ease infinite;
    &.ball-one {
        background-color: brandColor(one);
        animation-delay: 0s;
        -moz-animation-delay: 0s;
		-webkit-animation-delay: 0s;
	}
    &.ball-two{
        background-color: brandColor(two);
        animation-delay: 0.1s;
        -moz-animation-delay: 0.1s;
		-webkit-animation-delay: 0.1s;
	}
    &.ball-three{
        background-color: brandColor(one);
        animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
		-webkit-animation-delay: 0.2s;
	}
    &.ball-four{
        background-color: brandColor(two);
        animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
	}
@keyframes moveUp {
    50% {
		transform: translateY(-1em) translateX(0px);
	}
}

}
